<!DOCTYPE html>
<html lang="es">

<head>
    <meta charset="UTF-8">
    <!-- Permite que la página se adapte a móviles y tablets -->
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>SpeechGoals</title>
</head>

<body>
<header>
    <h1>SpeechGoals</h1>
    <nav>
        <!-- Enlace público al catálogo de objetivos.
        Todos los visitantes pueden consultar los objetivos. -->
        <a href="{% url 'goals:lista_objetivos' %}">
            Catálogo de objetivos
        </a>
        {% if user.is_authenticated %}
            <!-- Este enlace solo aparece si el usuario
            ha iniciado sesión. -->
            <a href="{% url 'goals:crear_objetivo' %}">
                Crear objetivo
            </a>
            <!-- Django nos proporciona user.username
            con el nombre del usuario autenticado. -->
            <span>
                Usuario: {{ user.username }}
            </span>
            <!-- Formulario para cerrar sesión.
            Utilizamos POST para enviar la acción de logout. -->
            <form method="post"
                  action="{% url 'logout' %}"
                  style="display: inline;">
                {% csrf_token %}
                <button type="submit">
                    Cerrar sesión
                </button>
            </form>

        {% else %}
            <!--  Estas opciones aparecen cuando el usuario
            todavía NO ha iniciado sesión. -->
            <a href="{% url 'login' %}">
                Iniciar sesión
            </a>
            <a href="{% url 'goals:registro' %}">
                Registrarse
            </a>
        {% endif %}
    </nav>
    <hr>
</header>

<main>
    <!-- Bloque de contenido.
    Las plantillas hijas como:
    - lista_objetivos.html
    - detalle_objetivo.html
    - objetivo_form.html
    - login.html
    - register.html
    tendrán aquí su contenido específico. -->
    {% block contenido %}
    {% endblock %}
</main>
</body>
</html>